* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



body {
  background: #f5f3eb9b;
  overflow: auto;
}

.buttonSearchBody {
  background: linear-gradient(to right, #e3c30d, #d9e88e 25%, #af54ecb8);
}

html {
  font-size: 16px;
}

/************COMPONENTS *************
*                                   *
*                                   *
*************************************/


/************THE HOME PAGE *************/

.theTitle {
  margin-top: 0;
  text-align: center;
  font-family: "Rock 3D", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 3.125rem;
  color: hsla(288, 100%, 50%, 1);
}

.girl3 {
  padding-top: 5rem;
  width: 100%;
  max-width: 100%;
  background-color: inherit;
}

.homeButton {
  display: block;
  width: 33%;
  height: 36%rem;
  margin: 0 auto;
  outline: 0;
  padding: 0;
  background-color: #F6F6F6;
  cursor: url('/images/cursorcocktail.png'), pointer;
  transition: all .1s linear;
  border: 0.124em solid #e4d3ed;
  border-radius: 2.538%;
  box-shadow: 0 0.248em 0 #700db3;
  
}

.homeButton:active {
  transform: translateY(0.153em);
  box-shadow: 0 0.138em 0 #700db3;
}

.thehomeButton, .start {
  text-decoration: none;
}

/************THE CLICK PAGE*************/

.thetitleLead {
  font-family: "Rock 3D", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 3.125rem;
  color: hsla(288, 100%, 50%, 1);
  margin: 0 auto;
  margin-top: 1.543rem;
  width: 63%;
  outline: 0;
  padding: 0.2em;
  cursor: url('/images/cursorcocktail.png'), pointer;
  transition: all .1s linear;
  border: 0.024em solid #8f789b;
  border-radius: 2.538%;
  box-shadow: 0 0.068em 0 #a250d9;
}

.thetitleLead:active {
  transform: translateY(0.153em);
  box-shadow: 0 0.138em 0 #b0f077;
}




.topSection {
  margin-left: 2rem;
  margin-right: 2rem;
}



.theCocktailButtonTop {
  float: left;
  font-size: 7.25rem;
  width: 26.75%;
  text-align: center;
  margin-top: 5.5rem;
  margin-bottom: 2.25rem;
  margin-right: 3.8rem;
  outline 0;
  padding: 0;
  cursor: pointer;
  transition: all .1s linear;
  background: inherit;
  border: 0.014em solid #44911b;
  border-radius: 2.538%;
  box-shadow: 0 0.048em 0 #266206;
}

.theCocktailButtonTop:active {
  transform: translateY(0.053em);
  box-shadow: 0 0.038em 0 #cccf9a;
}

.popupDrink {
  float: left;
  height: 23%;
  width: 23%;
  border-radius: 10%;
  border: 0;
  outline: 0;
  margin-top: 2.876%;
  margin-left: 12%;
}

.clickName {
  margin-top: 1.843rem;
  margin-bottom: 1.843rem; 
  float: left;
  font-family: "Ewert", serif;
  font-size: 2.132em;
  font-weight: 900;
  font-style: normal;
  color: #FF6723;
  width: 9em;
  margin-left: 0.334rem;
  padding-left: 3rem;
}


.instructions {
padding-top: 2.354rem;
margin-left: 2rem;
font-family: "Honk", system-ui;
font-optical-sizing: auto;
font-weight: 400;
font-size: 2em;
font-style: normal;
clear: both;
font-variation-settings:
  "MORF" 15,
  "SHLN" 50;  
}

/************THE CHOOSE OPTIONS PAGE *************/

.choose {
  margin-top: 1.543rem;
  margin-bottom: 1.543rem;
  text-align: center;
  font-family: "Rock 3D", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 3em;
  color: rgb(19, 19, 19);
  
}

.option1 {
  float: left;
  clear: both;
  width: 50%;
  text-align: center;
}

.push {
  color: #B87333;
  text-align: center;
  font-family: "Rock 3D", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 1.843em;
}

.wrapper {
  margin: 0 auto;
  margin-top: 1.343rem;
  height:18.75rem;
  width: 15.625rem;
  border: 5px solid #61412D;
  /* 3D */
  perspective: 1000px;
}

.clickmefirst {
  width: 70%;
  margin-left: 2.675rem;
  margin-top: 1rem;
  object-fit: cover;
}

.door {
  background-color: #b47249;
  height: 100%;
  width: 50%;
  padding: 1rem;
  position: absolute;
}

#left-door {
  top: 0;
  left: 0;
  border-right: 1px solid black;
  /* transition */
  transform-origin: left;
  transition: transform 0.5s;
}

#right-door {
  top: 0;
  right: 0;
  border-left: 1px solid black;
  /* transition */
  transform-origin: right;
  transition: transform 0.5s;
}

.shape {
  border: 4px solid black;
  width: 6.25rem;
  height: 8.125rem;
}

.knob {
  width: 0.625rem;
  height: 3.125rem;
  background-color: #D7DADE;
  position: absolute;
}

#left-knob {
  top: 45%;
  right:  0.755rem;
}

#right-knob {
  top: 45%;
  left: 0.755rem;
}

.wrapper:hover #left-door{
  transform: rotateY(-140deg);
}

.wrapper:hover #right-door{
  transform: rotateY(140deg);
}

.option2 {
  float: left;
  width: 50%;
  text-align: center;

}


.carousel {
  color: #0066CC;
  text-align: center;
  font-family: "Rock 3D", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 1.843em;
}

.clickmesecond {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

/*
@media only screen and (max-width: 800px) {

  body {
    margin-left: 0;
  }

  main {
    padding-right: 10%;
  }

  .topSection {
    text-align: center;
  }

  .theTitle {
    font-size: 1.352rem;
    text-align: center;
    margin-left: 1rem;
  }

  h2 {
    font-size: 1.532rem;
    margin-left: 2.535rem;
  }

  .theCocktailButtonTop {
    width: 20rem;
    font-size: 4.75rem;
    margin-left: 2.635rem;
    text-align: center;
  }

  .popupDrink {
    text-align: center;
    margin-left: 5.532rem;
    width: 63.325%;
    height: 13.325%
  }

  h3 {
    font-size: 1.623rem;
    width: 63.322%;
    margin-left: 24.333%;
    text-align: center;
 
  }
  
}

*/








